.page {
    background-color: black;
    font-family: 'Inter', Arial, sans-serif;
    padding: 0 15.625%;
    color: #FFFFFF;
    font-weight: 400;
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    padding: 0;
  }
}