.edit-form__close {
  position: relative;
  bottom: 99%;
  left: 99%;
  transition: opacity 0.3s ease-out;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
}

.edit-form__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .edit-form__close {
    left: 250px;
    max-width: 26px;
    max-height: 26px;
    background-size: 100%;
  }
}