.edit-form__button_invalid {
  color: black;
  opacity: 0.2;
  border: 1px solid #000000;
  background-color: white;
  transition: none;
  cursor: not-allowed;
}

.edit-form__button_invalid:hover {
  opacity: 0.2;
}

